.banner {
    display: block;
    box-sizing: content-box;
    padding: 20px;
    margin: 10px;
    width: 400px;
    height: 250px;
    border: 1px solid #ccc;
    background-color: bisque;
    flex-direction: column;
}
#sobre{
    background-color: coral;
}
#medias{
    background-color: cornflowerblue;
}
#redes{
    background-color: lightslategray;
}
